<mat-card>
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registrationForm" (ngSubmit)="onRegister()" >
      <mat-form-field>
        <input matInput formControlName="fname"  type="text" placeholder="First Name"  required>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="lname"  type="text" placeholder="Last Name"  required>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="uname"  type="text" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="email"  type="email" placeholder="Email" required email>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password"  type="password" placeholder="Password"  required>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Register</button>
    </form>
  </mat-card-content>
</mat-card>
