<mat-sidenav-container class="container" fullscreen>
  <mat-sidenav #sidenav mode="over">
    <sidenav></sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
<!--    /* TODO: Refactor this later to use a component instead of hardcode */-->
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" >
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
<!--      /* TODO: replace hardcode with dynamic code from logged in User*/-->
      <h2>ngTwitterClone</h2>
      <span class="spacer1"></span>
      <h2>USERNAME</h2>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
