
button {
  position: absolute;
  left: 20%;
  top: 15%;
  padding: 5px 30px;
  color: brown;
  background: lightcyan;
}
mat-card {
  /*margin: 5% 5% 30% 30%;*/
  margin: 1% auto;
  background: lightgoldenrodyellow;
  width: 35%;
  text-align: center;
}
